h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: min(70vw, 70vh);
  aspect-ratio: 1/1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  grid-gap: 4px;
}

.board > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 2rem;
}
